.container {
  width: 320px;
  color: rgb(var(--text));
  text-decoration: none;
  margin: 1.5rem 0;
  cursor: pointer;
}

.image-cont {
  width: 100%;
  height: 16rem;
  margin-bottom: 0.6rem;
}

.image {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.8rem;
  object-fit: cover;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitle {
  font-size: 0.9rem;
}

@media only screen and (min-width: 1024px) {
  .container {
    padding: 1.3rem;
    border-radius: 1.2rem;
  }

  .container:hover {
    background-color: rgb(var(--primary));
    color: rgb(var(--primary-text));
  }
}
