.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  margin-bottom: 0.5rem;
}

.container p {
  margin-bottom: 2rem;
}

.error-message {
  color: rgb(var(--primary));
  font-size: 3.5rem;
  font-weight: bold;
}
