* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--text));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.9rem;
}

::-webkit-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgba(var(--text));
}

::-webkit-scrollbar-track {
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  border: 0.3rem solid transparent;
  background-clip: padding-box;
  border-radius: 0.5rem;
}

/* remove webkit input default styles */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

:root {
  --primary: 214 243 121;
  --primary-text: 33 33 33;
  --bg: 44 44 44;
  --card: 255 255 255;
  --text: 255 255 255;
  --border: 99 99 99;
  --notification: 255 69 58;

  /* shadows */
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.danger {
  --primary: 227 81 61;
  --primary-text: 255 255 255;
}

.dark {
  --bg: 44 44 44;
  --text: 255 255 255;
}

.light {
  --bg: 205 200 200;
  --text: 44 44 44;
}
